<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Destroy the world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB8616A11D665A5700774EFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB8616B51D665A5700774EFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB8616C01D665A5700774EFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
